<a href="https://colab.research.google.com/github/gabrieldepaiva/Projetos_Financas-Python/blob/main/API_AlphaVantage_(Cota%C3%A7%C3%A3o)das_A%C3%A7%C3%B5es).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install alpha_vantage

In [4]:
AlphaVantage_API_KEY = 'RN5X16H7VPMN8F0O'

In [38]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import DataReader

In [24]:
data_inicial = input('Digite a data inicial - ')
data_final = input('Digite a data final - ')

Digite a data inicial - 2020-02-01
Digite a data final - 2020-12-11

In [28]:
f = DataReader('PETR4.SAO', "av-daily", start=data_inicial, end=data_final, api_key=AlphaVantage_API_KEY)

In [ ]:
f.head()

In [58]:
ts = TimeSeries(key=AlphaVantage_API_KEY,output_format='pandas')

In [71]:
empresa_pesquisada = str(input('Digite o nome da empresa a ser análisada - '))

Digite o nome da empresa a ser análisada - TAEE

In [72]:
ts.get_symbol_search(keywords=empresa_pesquisada)

(                                1. symbol  ... 9. matchScore
 date                                       ...
 1970-01-01 00:00:00.000000000  TAEE11.SAO  ...        0.6667
 1970-01-01 00:00:00.000000001   TAEE4.SAO  ...        0.6667
 1970-01-01 00:00:00.000000002   TAEE3.SAO  ...        0.6154

 [3 rows x 9 columns], None)